In [1]:
import numpy as np
import pandas as pd

Baseline count: 
if Woman or Children
and Wealthy
    Then Survive
   
Else: 
    Die

In [2]:
def baseLine(row):
    if row.Pclass == 1:
        survived = 1
    elif row.Sex == 'female':
        survived = 1
    elif row.Age <= 12:
        survived = 1
    else:
        survived = 0
    return str(row.PassengerId) + " " + str(survived)

def baselinePredict(X):
    predict = X.apply(baseLine, axis = 1)
    return  pd.DataFrame(predict.str.split(' ',1).tolist(),
                         columns = ['PassengerId','Predict']).apply(pd.to_numeric)

In [3]:
def score(test):
    
   
    #baseline Score
    predict = baselinePredict(test)
    
    merged = pd.merge(test,predict)
    answers = pd.read_csv('gender_submission.csv')
    final = pd.merge(merged, answers, on = 'PassengerId')
    print((final.Survived == final.Predict * 1).sum()/ merged.shape[0])

In [12]:
#first GO Titanic Clean
#Could make Class and easier
class cleaner(object):
    def __init__(self):
        self.meanPrice = []
        
    def ageSet(self,row):
        if row.Age <= 12:
            age = 'child'
        elif row.Age <= 18:
            age = 'young'
        elif row.Age <= 50:
            age = 'adult'
        elif row.Age > 50:
            age = 'elder'
        else:
            age = "None"
        return age

    def aloneSet(self,row):
        #TODO Create status for if have parent or child
        #If traveling alone then alone = 1

        alone = 0
        if int(row.SibSp) == 0 and int(row.Parch) == 0:
            alone = 1
        return alone

    def ticketPriceSet(self,row):
        index = row.Pclass
        if row.Fare > row.meanTicketPrice:
            ticketPrice = 'expensive'
        else:
            ticketPrice = 'cheap'
        return ticketPrice
        
    def titanicClean(self,df):
        #made id an index
        df = df.set_index('PassengerId')

        df = df.drop([])

        # replace age with child young adult elder
        # if age is unknown Elder
        df['AgeClass'] = df.apply(self.ageSet, axis = 1)

        #Create alone
        df['Alone'] = df.apply(self.aloneSet, axis = 1)
                

        #find mean of fare
        for i in np.unique(df['Pclass']):
            self.meanPrice.append(df.Fare[df['Pclass'] == int(i)].mean(axis = 0))
        self.meanPrice = [0] + self.meanPrice

        #create column of array out of mean array
        #need to do this b/c apply function is weird
        tempTicketMean = []
        for index, row in df.iterrows():
            tempTicketMean.append(self.meanPrice[row.Pclass])    
        
        #Create ticket Price Column
        df['meanTicketPrice'] = tempTicketMean
        df['ticketPrice'] = df.apply(self.ticketPriceSet, axis = 1)

        
         # drop Parch, sibspou, name, ticket, cabin, Age

        return df.drop(['Name','Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'meanTicketPrice'],axis = 1)

In [14]:
clean = cleaner()
df = pd.read_csv('train.csv')
df = clean.titanicClean(df)

df

             Survived  Pclass     Sex Embarked AgeClass  Alone ticketPrice
PassengerId
1                   0       3    male        S    adult      0       cheap
2                   1       1  female        C    adult      0       cheap
3                   1       3  female        S    adult      1       cheap
4                   1       1  female        S    adult      0       cheap
5                   0       3    male        S    adult      1       cheap
6                   0       3    male        Q     None      1       cheap
7                   0       1    male        S    elder      1       cheap
8                   0       3    male        S    child      0   expensive
9                   1       3  female        S    adult      0       cheap
10                  1       2  female        C    young      0   expensive
11                  1       3  female        S    child      0   expensive
12                  1       1  female        S    elder      1       cheap
13                  0       3    male        S    adult      1       cheap
14                  0       3    male        S    adult      0   expensive
15                  0       3  female        S    young      1       cheap
16                  1       2  female        S    elder      1       cheap
17                  0       3    male        Q    child      0   expensive
18                  1       2    male        S     None      1       cheap
19                  0       3  female        S    adult      0   expensive
20                  1       3  female        C     None      1       cheap
21                  0       2    male        S    adult      1   expensive
22                  1       2    male        S    adult      1       cheap
23                  1       3  female        Q    young      1       cheap
24                  1       1    male        S    adult      1       cheap
25                  0       3  female        S    child      0   expensive
26                  1       3  female        S    adult      0   expensive
27                  0       3    male        C     None      1       cheap
28                  0       1    male        S    adult      0   expensive
29                  1       3  female        Q     None      1       cheap
30                  0       3    male        S     None      1       cheap
...               ...     ...     ...      ...      ...    ...         ...
862                 0       2    male        S    adult      0       cheap
863                 1       1  female        S    adult      1       cheap
864                 0       3  female        S     None      0   expensive
865                 0       2    male        S    adult      1       cheap
866                 1       2  female        S    adult      1       cheap
867                 1       2  female        C    adult      0       cheap
868                 0       1    male        S    adult      1       cheap
869                 0       3    male        S     None      1       cheap
870                 1       3    male        S    child      0       cheap
871                 0       3    male        S    adult      1       cheap
872                 1       1  female        S    adult      0       cheap
873                 0       1    male        S    adult      1       cheap
874                 0       3    male        S    adult      1       cheap
875                 1       2  female        C    adult      0   expensive
876                 1       3  female        C    young      1       cheap
877                 0       3    male        S    adult      1       cheap
878                 0       3    male        S    adult      1       cheap
879                 0       3    male        S     None      1       cheap
880                 1       1  female        C    elder      0       cheap
881                 1       2  female        S    adult      0   expensive
882                 0       3    male        S    adult      1       cheap
883                 0       3  female        S    adult      1       cheap
884                 0       2    male        S    adult      1       cheap
885                 0       3    male        S    adult      1       cheap
886                 0       3  female        Q    adult      0   expensive
887                 0       2    male        S    adult      1       cheap
888                 1       1  female        S    adult      1       cheap
889                 0       3  female        S     None      0   expensive
890                 1       1    male        C    adult      1       cheap
891                 0       3    male        Q    adult      1       cheap

[891 rows x 7 columns]

In [ ]:
def cleanData(df):